/* Tags */



/* Classes */

.btn {
    background-color: #C96BE3;
    color: white;
}

.btn:hover {
    background-color: #DA8FEF;
    color: white;
}

.unselected-tab {
    background-color: white;
    color: #C96BE3;
    border-color: #C96BE3;
}

.main-content {
    padding-top: 3rem;
}

.showcase-btn-container {
    padding: 1rem;
}

.l-vertical-padding {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
}

.m-margin {
    margin: 3rem;
}

.m-vertical-margin {
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.m-margin-bottom {
    margin-bottom: 3rem;
}

.s-margin-top {
    margin-top: 1.5rem;
}


.xl-margin-bottom {
    margin-bottom: 8rem;
}

.small-text {
    font-size: smaller;
}

.small-title {
    font-size: 25px;
}

/* Ids */

#conversation-users {
    text-align: center;
}

#navbar-logo {
    height: 3rem;
    width: auto;
}

#processing-spinner {
    visibility: hidden;
    margin: 0.2rem;
}

#faq-title {margin-top: 0}