{% extends "base.html" %}
{% block page_meta %}
<title>Whatsapp Analyzer - Analysis</title>
<meta name="description" content="The analysis page of the uploaded chat file">
<meta name="robots" content="none">
{% endblock %}

{% block additional_head_js %}<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>{% endblock %}

{% block main %}
{% if context.analysis %}
    <div class="container">
        <div class="row justify-content-center" id="conversation-users"></div>
        <div class="row justify-content-center m-vertical-margin">
            <div class="col-sm-4 text-center">
                <h5>Total messages count: {{ context.analysis.total_message_count }}</h5>
            </div>
            <div class="col-sm-4 text-center">
                <h5>Total words count: {{ context.analysis.total_word_count }}</h5>
            </div>
            <div class="col-sm-4 text-center">
                <h5>The conversation is {{ context.analysis.conversation_age }} days old</h5>
            </div>
        </div>
        <div class="row m-vertical-margin">
            <div class="col-lg-6"><canvas id="total-message-per-user" width="800" height="650"></canvas></div>
            <div class="col-lg-6"><canvas id="average-message-length-per-user" width="800" height="650"></canvas></div>
        </div>
        <div class="row m-vertical-margin">
            <div class="col-lg-6"><canvas id="day-hours-message-count" width="800" height="650"></canvas></div>
            <div class="col-lg-6"><canvas id="week-days-message-count" width="800" height="650"></canvas></div>
        </div>
        <div class="row m-vertical-margin">
            <div class="col-lg-12"><canvas id="total-message-per-day" width="1800" height="650"></canvas></div>
        </div>
    </div>
{% else %}
    <span class="text-center">Something went wrong 😢, please <a href="{{ url_for('index') }}">try again</a></span>
{% endif %}
{% endblock %}

{% block additional_js %}
<script>
    var conversationAge = {{ context.analysis.conversation_age }};
    var users = {{ context.analysis.users | safe }};
    var userNumber = {{ context.analysis.user_number | safe }};
    var colorSet = {{ context.analysis.users_colors | safe }};
    var totalMessagePerUser_User = {{ context.analysis.total_message_per_user.users | safe }};
    var totalMessagePerUser_MessageCount = {{ context.analysis.total_message_per_user.message_count }};
    var averageMessageLengthPerUser_User = {{ context.analysis.average_message_length_per_user.users | safe }};
    var averageMessageLengthPerUser_MessageLength = {{ context.analysis.average_message_length_per_user.message_length }};
    var totalMessagePerDay_Days = {{ context.analysis.total_message_per_day.days | safe }};
    var totalMessagePerDay_MessageCount = {{ context.analysis.total_message_per_day.message_count }};
    var weekDaysMessageCount_Days = {{ context.analysis.week_days_message_count.week_days | safe}};
    var weekDaysMessageCount_Counts = {{ context.analysis.week_days_message_count.week_days_message_count }};
    var dayHoursMessageCount_Hours = {{ context.analysis.day_hours_message_count.day_hours | safe}};
    var dayHoursMessageCount_Counts = {{ context.analysis.day_hours_message_count.day_hours_message_count }};

    var usersDisplay = document.getElementById("conversation-users");

    for(var i = 0; i < userNumber; i++) {
        userElement = document.createElement('div');
        userElement.innerHTML = users[i];
        userElement.style.color = colorSet[i];
        userElement.classList.add('col-sm-3');
        userElement.classList.add('card');
        usersDisplay.innerHTML += userElement.outerHTML;
    }

    // Total message per user bar chart
    new Chart(document.getElementById("total-message-per-user"), {
    type: 'bar',
    data: {
      labels: totalMessagePerUser_User,
      datasets: [
        {
          label: "Messages count",
          backgroundColor: colorSet,
          data: totalMessagePerUser_MessageCount,
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Total number of messages by each user'
      },
      scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true,
                        min: 0,
                    }
                  }]
      },
        tooltips: {
                enabled: true,
                callbacks: {
                    label: function(tooltipItem, data) {
                        return data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index] + " messages";
                    }
                }
        },
    }
    });

    // Average message length per user bar chart
    new Chart(document.getElementById("average-message-length-per-user"), {
    type: 'bar',
    data: {
      labels: averageMessageLengthPerUser_User,
      datasets: [
        {
          label: "Average messages length",
          backgroundColor: colorSet,
          data: averageMessageLengthPerUser_MessageLength,
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Average length of the messages for each user (number of words)'
      },
      scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true,
                        min: 0,
                    }
                  }]
      },
        tooltips: {
                enabled: true,
                callbacks: {
                    label: function(tooltipItem, data) {
                        return data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].toFixed(2) + " words per message";
                    }
                }
        },
    }
    });

    // Message count per day hours area chart
    new Chart(document.getElementById("day-hours-message-count"), {
    type: 'radar',
    data: {
      labels: dayHoursMessageCount_Hours,
      datasets: [
        {
          label: "Total message count per day hours",
          fill: true,
          backgroundColor: "rgba(33,114,255, 0.2)",
          borderColor: "rgb(77,166,255)",
          pointBorderColor: "#fff",
          pointBackgroundColor: "rgb(77,166,255)",
          data: dayHoursMessageCount_Counts
        },
      ]
      },
      options: {
        title: {
          display: false,
          text: 'Message count per hour of the day'
        },
        tooltips: {
                enabled: true,
                callbacks: {
                    label: function(tooltipItem, data) {
                        return data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index] + " messages";
                    }
                }
        },
        scale: {
                ticks: {
                    beginAtZero:true,
                }
        },
      }
    });

    // Message count per week days area chart
    new Chart(document.getElementById("week-days-message-count"), {
    type: 'radar',
    data: {
      labels: weekDaysMessageCount_Days,
      datasets: [
        {
          label: "Total message count per week day",
          fill: true,
          backgroundColor: "rgba(255,99,132,0.2)",
          borderColor: "rgba(255,99,132,1)",
          pointBorderColor: "#fff",
          pointBackgroundColor: "rgba(255,99,132,1)",
          data: weekDaysMessageCount_Counts
        },
      ]
      },
      options: {
        title: {
          display: false,
          text: 'Message count per week day'
        },
        tooltips: {
                enabled: true,
                callbacks: {
                    label: function(tooltipItem, data) {
                        return data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index] + " messages";
                    }
                }
        },
        scale: {
                ticks: {
                    beginAtZero:true,
                }
        },
      }
    });


    // Total message per day line chart
    new Chart(document.getElementById("total-message-per-day"), {
    type: 'line',
    data: {
        labels: totalMessagePerDay_Days,
        datasets: [{
            data: totalMessagePerDay_MessageCount,
            label: "Number of messages per day (Day / Month / Year)",
            borderColor: "#5B7BD6",
            fill: false
          },
        ]
      },
      options: {
        title: {
          display: false,
          text: 'Number of messages per day'
        },
        tooltips: {
                enabled: true,
                callbacks: {
                    label: function(tooltipItem, data) {
                        return data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index] + " messages";
                    }
                }
        },
        scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true,
                      min: 0,
                  }
                }]
        },
      }
    });


</script>
{% endblock %}