<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Whatsapp Analyzer - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    {% block additional_css%}{% endblock %}
    {% block additional_head_js %}{% endblock %}
</head>
<body>
    <main>
        <nav>
            <div class="container">
                <div class="row justify-content-center">
                    <a href="{{ url_for('index') }}">
                        <img id="navbar-logo" src="{{ url_for('static', filename='img/whatsapp_analyzer_logo.png') }}" alt="Whatsapp Analyzer">
                    </a>
                </div>
            </div>
        </nav>
        <div class="main-content">
            {% block main %}{% endblock %}
        </div>
    </main>
    {% block additional_js %}{% endblock %}
</body>
</html>