<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Whatsapp Analyzer - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    {% block additional_css%}{% endblock %}
    {% block additional_head_js %}{% endblock %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166880087-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-166880087-1');
    </script>
</head>
<body>
    <main>
        <nav>
            <div class="container">
                <div class="row justify-content-center">
                    <a href="{{ url_for('index') }}">
                        <img id="navbar-logo" src="{{ url_for('static', filename='img/whatsapp_analyzer_logo.png') }}" alt="Whatsapp Analyzer">
                    </a>
                </div>
            </div>
        </nav>
        <div class="main-content l-vertical-padding">
            {% block main %}{% endblock %}
        </div>
        <!-- Footer -->
        <footer class="page-footer font-small special-color-dark pt-4">
          <div class="footer-copyright text-center py-3">© 2020 Copyright
            <a href="https://whatsappanalyzer.com/">whatsappanalyzer</a>
              &emsp;&emsp;Made with ❤ by Clément
          </div>
          <div class="container text-center small-text">
              WhatsApp is a registered trademark of WhatsApp Inc.
              <br>This site and service are not related in any way to WhatsApp Inc.
          </div>
        </footer>
        <!-- Footer -->
    </main>
    {% block additional_js %}{% endblock %}
</body>
</html>